*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%%;
    min-height: 100vh;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    padding: 10px;
    
}

.todo-app{
    with: 100%;
    max-width: 500px;
    margin: 100px auto 20px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img{
    width: 40px;
    height: 44px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    border-radius: 30px;
}
button{
    background:rgb(16, 63, 138);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
}
ul li{
    list-style: none;
    font-size: 17px;
    background: #edeef0;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    {% comment %} border-radius: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; {% endcomment %}
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border: 50%;
    background-image: url(images/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:rgb(175, 175, 176);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    margin-right: 20px;
    color: rgb(175, 175, 176);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    color:rgb(13, 41, 163);
}